body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', serif;
    color: black;
}

/* Fixiertes Pseudoelement für den Hintergrund */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('Hintergrund_02.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1; /* Hinter den Inhalten positionieren */
}

#menu-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 20px;
    z-index: 1002; /* Setzt das Menü in den Vordergrund */
}

#menu {
    position: absolute;
    top: 70px; /* Standard Position */
    left: 20px; /* Standard Position */
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    display: none;
    z-index: 1000; /* Setzt das Menü in den Vordergrund */
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li {
    margin: 0 0 5px; /* Kleineren Abstand zwischen Hauptpunkten und Unterpunkten */
}

#menu li > ul {
    margin-top: 2px; /* Sehr kleiner Abstand zwischen Hauptpunkt und erstem Unterpunkt */
    padding-left: 20px; /* Einrücken der Unterpunkte */
}

#menu li > ul li {
    margin: 3px 0; /* Kleinere Abstände zwischen den Unterpunkten */
}

#menu li > ul li:last-child {
    margin-bottom: 15px; /* Größerer Abstand nach dem letzten Unterpunkt */
}

#menu a {
    text-decoration: underline;
    color: black;
}

/* Tabellenüberschrift und Zellen */
table th, table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
	font-size: 12px;
}

/* Hintergrundfarbe für die Tabellenüberschrift */
table th {
    background-color: #f2f2f2;
}

.digitale_fotografie .content,
.fotografie .content,
.allgemein .content,
.themen .content,
.ki .content,
.kontakt .content,
.impressum .content {
    margin-top: 140px; /* Passe diesen Wert nach Bedarf an */
}

.persoenliches .content {
    margin-top: 200px; /* Passe diesen Wert nach Bedarf an */
}

.preise .content,
.fachvortraege .content {
    margin-top: 100px; /* Passe diesen Wert nach Bedarf an */
}

.header-text {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: right;
    font-weight: normal;
    z-index: 1; /* Bringt den Text hinter das Menü */
}

.header-text h1 {
    margin: 0;
    font-size: 30px;
    font-weight: normal;
    line-height: 1.4;
}

.header-text h2 {
    margin: 0;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.4;
}

ul {
    list-style-position: outside; /* Punkte außerhalb des Textes */
    padding-left: 20px; /* Platz für die Punkte schaffen */
	margin-top: 5px; /* Optional: Genereller Abstand */
	margin-bottom: 5px; /* Optional: Genereller Abstand */
}

li {
    text-indent: 0; /* Kein negativer Einzug */
    line-height: 1.2; /* Erhöhte Lesbarkeit */
    margin-bottom: 5px; /* Abstand zwischen den Listenelementen */	
}

h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.0;
    margin-top: 10px; /* Abstand zwischen den Listenelementen */	
    margin-bottom: 0px; /* Abstand zwischen den Listenelementen */	
}

.content {
    margin: 250px 20px 20px;
    font-size: 20px;
    line-height: 1.2;
}

.content p {
    margin-bottom: 15px;
	margin-top: 5px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 20px 20px;
    font-size: 15px;
    flex-wrap: wrap;
}

.footer img {
    height: 80px;
}

.footer div {
    text-align: left;
}

.footer span {
    display: block;
    line-height: 1.2;
}

/* Desktop Anpassungen */
@media screen and (min-width: 600px) {

    /* Hintergrundanpassung für das Pseudoelement */
    body::before {
        background-size: auto 100vh;  /* Skaliert das Hintergrundbild */
        background-position: left top;  /* Positioniert das Bild links oben */
    }
	
    #menu a {
        font-size: 20px; /* Beispiel: Schriftgröße für Menülink */
    }
	
	#menu li {
        font-size: 20px; /* Schriftgröße für die Hauptmenüpunkte (z.B. Der Künstler, Die Ausstellung) */
    }

	/* Tabellenüberschrift und Zellen */
	table th, table td {
		padding: 10px;
		text-align: center;
		border: 1px solid #ddd;
		font-size: 22px;
	}

	/* Hintergrundfarbe für die Tabellenüberschrift */
	table th {
		background-color: #f2f2f2;
	}
	
	.preise .content,
	.fachvortraege .content {
		margin-top: 150px; /* Passe diesen Wert nach Bedarf an */
		font-size: 24px;
	}

	.impressum .content,
	.kontakt .content,
	.ki .content,
	.themen .content,
	.allgemein .content,
	.digitale_fotografie .content,
	.fotografie .content,
	.persoenliches .content {
		margin-top: 250px; /* Passe diesen Wert nach Bedarf an */
		font-size: 24px;
	}
	
    .content {
        max-width: 500px; /* Maximale Breite für den Textbereich */
        margin-left: 20;
        margin-right: 0;
		font-size: 24px;
		margin-top: 350px;
    }
	
	.header-text {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 500px;
        text-align: right;
        z-index: 100; /* Header bleibt hinter dem Menü */
    }

   .header-text h1 {
        font-size: 50px;  /* Größere Schriftgröße für den Haupttitel */
    }

    .header-text h2 {
        font-size: 30px;  /* Größere Schriftgröße für die Untertitel */
    }

    h3 {
        font-size: 25px;  /* Größere Schriftgröße für die Untertitel */
    }
    
    /* Footer-Position für das Bild */
    .footer img {
        position: absolute;
        left: 300px; /* Abstand vom linken Rand */
        bottom: 20px;
        height: 80px;
    }

    .footer {
        position: relative; /* Damit das Bild korrekt positioniert ist */
    }
	
	.footer span {
        font-size: 20px; /* Größere Schriftgröße für die Texte im Footer */
    }
}
