.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 53.08333em;
	height: 94.41666em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 53.08333em;
}
.stl_06 {
	height: 9.441667em;
}
.stl_ie .stl_06 {
	height: 94.41666em;
}
@font-face {
	font-family:"FJKQEH+Gabriola";
	src:url("7a168829-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 5.5em;
	font-family: "FJKQEH+Gabriola";
	color: #000000;
}
.stl_08 {
	line-height: 1em;
}
.stl_09 {
	letter-spacing: -0.0045em;
}

.stl_ie .stl_09 {
	letter-spacing: -0.3994px;
}
.stl_10 {
	font-size: 4em;
	font-family: "FJKQEH+Gabriola";
	color: #000000;
}
.stl_11 {
	letter-spacing: -0.0028em;
}

.stl_ie .stl_11 {
	letter-spacing: -0.1796px;
}
@font-face {
	font-family:"NBTULB+Gabriola";
	src:url("fb12ba95-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_12 {
	font-size: 4em;
	font-family: "NBTULB+Gabriola", "Times New Roman";
	color: #000000;
}
.stl_13 {
	letter-spacing: -0.0008em;
}

.stl_ie .stl_13 {
	letter-spacing: -0.0487px;
}
.stl_14 {
	letter-spacing: -0.0001em;
}

.stl_ie .stl_14 {
	letter-spacing: -0.0057px;
}
.stl_15 {
	letter-spacing: -0.0021em;
}

.stl_ie .stl_15 {
	letter-spacing: -0.1355px;
}
.stl_16 {
	font-size: 4em;
	font-family: "FJKQEH+Gabriola";
	color: #000080;
}
.stl_17 {
	letter-spacing: -0.0015em;
}

.stl_ie .stl_17 {
	letter-spacing: -0.0968px;
}
.stl_18 {
	letter-spacing: -0.0012em;
}

.stl_ie .stl_18 {
	letter-spacing: -0.075px;
}
.stl_19 {
	letter-spacing: -0.0094em;
}

.stl_ie .stl_19 {
	letter-spacing: -0.6047px;
}
.stl_20 {
	letter-spacing: -0.0065em;
}

.stl_ie .stl_20 {
	letter-spacing: -0.4156px;
}
.stl_21 {
	letter-spacing: -0.0081em;
}

.stl_ie .stl_21 {
	letter-spacing: -0.5169px;
}
.stl_22 {
	letter-spacing: -0.0024em;
}

.stl_ie .stl_22 {
	letter-spacing: -0.1539px;
}
.stl_23 {
	letter-spacing: -0.0016em;
}

.stl_ie .stl_23 {
	letter-spacing: -0.1022px;
}
.stl_24 {
	font-size: 3em;
	font-family: "FJKQEH+Gabriola";
	color: #000000;
}
.stl_25 {
	letter-spacing: -0.0006em;
}

.stl_ie .stl_25 {
	letter-spacing: -0.0267px;
}
.stl_26 {
	font-size: 3em;
	font-family: "NBTULB+Gabriola", "Times New Roman";
	color: #000000;
}
.stl_27 {
	letter-spacing: -0.0019em;
}

.stl_ie .stl_27 {
	letter-spacing: -0.0918px;
}
.stl_28 {
	letter-spacing: -0.0014em;
}

.stl_ie .stl_28 {
	letter-spacing: -0.067px;
}
.stl_29 {
	letter-spacing: -0.0057em;
}

.stl_ie .stl_29 {
	letter-spacing: -0.2733px;
}
.stl_30 {
	letter-spacing: -0.004em;
}

.stl_ie .stl_30 {
	letter-spacing: -0.1935px;
}
.stl_31 {
	letter-spacing: -0.0018em;
}

.stl_ie .stl_31 {
	letter-spacing: -0.0853px;
}
.stl_32 {
	letter-spacing: -0.0003em;
}

.stl_ie .stl_32 {
	letter-spacing: -0.0157px;
}
.stl_33 {
	letter-spacing: 0em;
}

.stl_ie .stl_33 {
	letter-spacing: 0px;
}
.stl_34 {
	letter-spacing: -0.0011em;
}

.stl_ie .stl_34 {
	letter-spacing: -0.0517px;
}
.stl_35 {
	letter-spacing: -0.0077em;
}

.stl_ie .stl_35 {
	letter-spacing: -0.3691px;
}
.stl_36 {
	letter-spacing: -0.0144em;
}

.stl_ie .stl_36 {
	letter-spacing: -0.6934px;
}
.stl_37 {
	letter-spacing: -0.0025em;
}

.stl_ie .stl_37 {
	letter-spacing: -0.1189px;
}
